<template>
<div>
    <base-nav class="navbar-top navbar-dark" id="navbar-main" :show-toggle-button="false" expand>
        <form @submit.prevent="search" class="mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
                <base-input v-model="keyword" placeholder="Search" style="width:300px" class="input-group-alternative mb-0" addon-right-icon="fas fa-search">
                </base-input>
            </div>
        </form>

    </base-nav>

    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
        <!-- Card stats -->
        <div v-if="data" class="row">
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Price Mean" type="gradient-red" :sub-title="formatRupiah(this.analytics.price_mean)" icon="fas fa-wave-square" class="mb-4 mb-xl-0">

                    <template slot="footer">
                        <span class="text-success mr-2">{{ this.analytics.price_stdev }} %</span>
                        <span class="text-nowrap">Standard Deviation</span>
                    </template>
                </stats-card>

            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Price Median" type="gradient-orange" :sub-title="formatRupiah(this.analytics.price_median)" icon="fas fa-chart-bar" class="mb-4 mb-xl-0">

                    <template slot="footer">
                        <span class="text-success mr-2"> {{ formatRupiah(this.analytics.price_min) }} - {{ formatRupiah(this.analytics.price_max) }}</span>
                        <span class="text-nowrap">Price Range</span>
                    </template>
                </stats-card>
            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Product Crawled" type="gradient-green" :sub-title="analytics.prices.length.toString() + ' / ' + formatNumber(this.analytics.product_count)" icon="ni ni-money-coins" class="mb-4 mb-xl-0">

                    <template slot="footer">
                        <span class="text-success mr-2"> {{ this.analytics.shop_count }}</span>
                        <span class="text-nowrap">Shop Counts</span>
                    </template>
                </stats-card>

            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Crawling Time" type="gradient-info" :sub-title="perfomance.all_process" icon="ni ni-chart-bar-32" class="mb-4 mb-xl-0">

                    <template slot="footer">
                        <span class="text-success mr-2">{{ this.perfomance.search_api }} - {{ this.perfomance.product_api }}</span>
                        <span class="text-nowrap">Search & Product API</span>
                    </template>
                </stats-card>
            </div>
        </div>
    </base-header>

    <!--Charts-->
    <div v-if="data" class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8 mb-5 mb-xl-0">
                <card type="default" header-classes="bg-transparent">
                    <div slot="header" class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                            <h5 class="h3 text-white mb-0">Sales value</h5>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <li class="nav-item mr-2 mr-md-0">
                                    <a class="nav-link py-2 px-3" href="#" :class="{active: bigLineChart.activeIndex === 0}" @click.prevent="initBigChart(0)">
                                        <span class="d-none d-md-block">Product</span>
                                        <span class="d-md-none">M</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-2 px-3" href="#" :class="{active: bigLineChart.activeIndex === 1}" @click.prevent="initBigChart(1)">
                                        <span class="d-none d-md-block">Sales</span>
                                        <span class="d-md-none">W</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-2 px-3" href="#" :class="{active: bigLineChart.activeIndex === 2}" @click.prevent="initBigChart(2)">
                                        <span class="d-none d-md-block">Like</span>
                                        <span class="d-md-none">W</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <line-chart :height="350" ref="bigChart" :chart-data="bigLineChart.chartData" :extra-options="bigLineChart.extraOptions">
                    </line-chart>

                </card>
            </div>

            <div class="col-xl-4">
                <card header-classes="bg-transparent">
                    <div slot="header" class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                            <h5 class="h3 mb-0">Total orders</h5>
                        </div>
                    </div>

                    <bar-chart :height="350" ref="barChart" :chart-data="redBarChart.chartData">
                    </bar-chart>
                </card>
            </div>
        </div>
        <!-- End charts-->

        <!--Tables-->
        <div class="row mt-5">
            <div class="col-xl-8 mb-5 mb-xl-0">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Product List</h3>
                            </div>
                            <div class="col text-right">
                                <base-pagination class="mb-0" align="end" :page-count="pagination.pages" v-model="pagination.page"></base-pagination>
                                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <base-table thead-classes="thead-light" :data="paginateData()">
                            <template slot="columns">
                                <th style="cursor: pointer;" @click="sortData('name')">Product Name</th>
                                <th style="cursor: pointer;" @click="sortData('price')">Price</th>
                                <th style="cursor: pointer;" @click="sortData('rating_value')">Rating</th>
                                <th style="cursor: pointer;" @click="sortData('historical_sold')">Sold</th>
                                <th style="cursor: pointer;" @click="sortData('liked_count')">Likes</th>
                                <th style="cursor: pointer;" @click="sortData('rating_count')">Reviews</th>
                            </template>

                            <template slot-scope="{row}">
                                <th scope="row">
                                    {{trimString(50,row.name)}}
                                </th>
                                <td>
                                    {{formatRupiah(row.price)}}
                                </td>
                                <td v-html="handleRating(row.item_rating.rating_star)"></td>
                                <td>
                                    {{row.historical_sold}}
                                </td>
                                <td>
                                    {{row.liked_count}}
                                </td>
                                <td>
                                    {{row.item_rating.rating_count[0]}}
                                </td>
                            </template>

                        </base-table>
                    </div>

                </div>
            </div>
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Social traffic</h3>
                            </div>
                            <div class="col text-right">
                                <base-button size="sm" type="primary">See all</base-button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <base-table thead-classes="thead-light" :data="tableData2">
                            <template slot="columns">
                                <th>Referral</th>
                                <th>Visitors</th>
                                <th></th>
                            </template>

                            <template slot-scope="{row}">
                                <th scope="row">
                                    {{row.name}}
                                </th>
                                <td>
                                    {{row.visitors}}
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{row.progress}}%</span>
                                        <base-progress :type="row.progressType" class="pt-0" :show-percentage="false" :value="row.progress" />
                                    </div>
                                </td>
                            </template>

                        </base-table>
                    </div>

                </div>
            </div>
        </div>
        <!--End tables-->

    </div>

</div>
</template>

<script>
// Charts
import Vue from 'vue';

import * as chartConfigs from '@/components/Charts/config';
import LineChart from '@/components/Charts/LineChart';
import BarChart from '@/components/Charts/BarChart';

import axios from 'axios'
import VueSweetalert2 from 'vue-sweetalert2';
import VueModal from 'vue-js-modal'

Vue.use(VueSweetalert2)
Vue.use(VueModal)
export default {
    components: {
        LineChart,
        BarChart,

    },
    data() {
        return {
            productsData: [],
            tableData2: [{
                    name: 'Facebook',
                    visitors: '1,480',
                    progress: 60,
                    progressType: 'gradient-danger',
                },
                {
                    name: 'LinkedIn',
                    visitors: '5,480',
                    progress: 70,
                    progressType: 'gradient-success',
                },
                {
                    name: 'Google',
                    visitors: '4,807',
                    progress: 80,
                    progressType: 'gradient-primary',
                },
                {
                    name: 'Instagram',
                    visitors: '3,678',
                    progress: 75,
                    progressType: 'gradient-info',
                },
                {
                    name: 'Twitter',
                    visitors: '2,645',
                    progress: 30,
                    progressType: 'gradient-warning',
                }
            ],
            bigLineChart: {
                values: [],
                labels: [],
                activeIndex: 0,
                extraOptions: chartConfigs.blueChartOptions,
            },
            redBarChart: {
                chartData: {
                    labels: ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    datasets: [{
                        label: 'Sales',
                        data: [25, 20, 30, 22, 17, 29]
                    }]
                }
            },

            data: null,
            analytics: null,
            perfomance: null,

            pagination: {
                page: 1,
                pages: 0,
                page_size: 10
            },

            sort: '-',

            keyword: "samsung a50,1000000,50",

        };
    },

    mounted() {},

    methods: {

        paginateData() {

            this.pagination.pages = Math.ceil(this.productsData.length / this.pagination.page_size)

            let pmin = (this.pagination.page - 1) * this.pagination.page_size
            let pmax = (this.pagination.page) * this.pagination.page_size

            if (pmax > this.productsData.length) {
                pmax = this.productsData.length
            }

            return this.productsData.slice(pmin, pmax)
        },

        sortData(element) {

            this.pagination.page = 1
            this.productsData.sort(this.dynamicSort(this.sort+element))
            this.paginateData()

            if(this.sort == '-') {
                this.sort = ''
            } else {
                this.sort = '-'
            }
        
        },

        trimString(n, str) {

            if (str.length > n) {
                return str.substring(0, n) + " ..."
            }

            return str
        },

        roundHalf(num) {
            return Math.round(num * 2) / 2;
        },

        handleRating(num) {

            let star = '<i style="color:orange" class="fas fa-star"></i>'
            let stara = '<i style="color:orange" class="far fa-star"></i>'
            let starh = '<i style="color:orange" class="fas fa-star-half-alt"></i>'
            let rt = this.roundHalf(num)
            let base = Math.floor(rt)
            let baseup = Math.ceil(rt)
            let ret = ""

            for (let index = 0; index < base; index++) {
                ret += star
            }

            if (rt - base > 0) {
                ret += starh
            }

            for (let index = 0; index < (5 - baseup); index++) {
                ret += stara
            }

            return ret

        },

        dynamicSort(property) {
            var sortOrder = 1;
            if (property[0] === "-") {
                sortOrder = -1;
                property = property.substr(1);
            }
            return function (a, b) {
                /* next line works with strings and numbers, 
                 * and you may want to customize it to your needs
                 */
                var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
                return result * sortOrder;
            }
        },

        search() {
            var encodedKeyword = encodeURI(this.keyword)
            var param = encodedKeyword.split(",")

            this.sort = "-"

            if (param.length != 3) {
                Vue.swal("Oopsie..", "search parameter is invalid", "error")
                return
            }

            Vue.swal({
                imageUrl: 'https://digitalsynopsis.com/wp-content/uploads/2016/06/loading-animations-preloader-gifs-ui-ux-effects-23.gif',
                imageWidth: 300,
                title: "Crawling Started",
                text: "please hang tight",
                showConfirmButton: false,
                padding: '3em',
                allowEscapeKey: false,
                allowOutsideClick: false,

            })

            axios.get('http://localhost:9898/api/shp/search?keyword=' + param[0] + '&min_price=' + param[1] + '&wanted_item=' + param[2]).then(response => {

                this.data = response.data
                this.analytics = response.data.data.analytics
                this.perfomance = response.data.data.perfomance

                let chart = response.data.data.analytics.price_chart.line
                let products = response.data.data.products

                this.bigLineChart.labels = []
                this.bigLineChart.values = []
                this.productsData = []

                this.bigLineChart.values = [chart.product_count, chart.sales_count, chart.likes_count]

                for (let index = 0; index < chart.labels.length; index++) {
                    let l = chart.labels[index]
                    this.bigLineChart.labels.push(this.formatNumber(l))
                }

                for (let index = 0; index < products.length; index++) {
                    let l = products[index].item

                    l.rating_value = l.item_rating.rating_star
                    l.rating_count = l.item_rating.rating_count[0]

                    this.productsData.push(l)
                }

                this.sortData("historical_sold")
                this.initBigChart(0)

                Vue.swal.close()

                Vue.swal("Success", response.data.message, "success")

            })
        },

        initBigChart(index) {

            let prefix = ['Total Product ', 'Total Sales ', 'Total Likes ']
            let chartData = {
                datasets: [{
                    label: prefix[index],
                    data: this.bigLineChart.values[index]
                }],
                labels: this.bigLineChart.labels,
            };
            this.bigLineChart.chartData = chartData
            this.bigLineChart.activeIndex = index

        },
        formatRupiah(angka) {
            var prefix = "Rp. "
            return prefix + this.formatNumber(angka)
        },
        formatNumber(angka) {

            var separator = ""
            var prefix = ""
            angka = angka.toString()
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? '' + rupiah : '');
        },
        open(name) {
            this.$modal.show(name);
        },

        close(name) {
            this.$modal.hide(name);
        },
    },

};
</script>

<style></style>
